
# 忽略 Node.js 依賴
node_modules/

# 忽略開發工具生成的文件和資料夾
.lazygit/
.npm/
.nvm/
.oh-my-zsh/
.p10k.zsh
.ssh/
.tmux.conf
.wget-hsts
.zcompdump
.zcompdump-chen-5.8.1
.zcompdump-chen-virtual-machine-5.8.1
.zcompdump-localhost-5.8.1

# 忽略 shell 和開發配置文件
.bash_history
.bash_logout
.bashrc
.zsh_history
.zshrc
.gitconfig

# 忽略本地緩存和配置
.cache/
.chewing/
.config/
.fontconfig/
.fzf.bash
.fzf.zsh
.fzf/

# 忽略 Hexo 生成的臨時文件和部署文件
public/
.deploy*/

# 忽略日志文件
*.log

